/* box Model */

#box1{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
    background-color: rgb(255, 125, 33);
    border-radius: 50%;
}
#box1:hover{
    background-color: black;
    box-shadow: 1px 1px 50px;
}
#box2{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid rgb(10, 10, 10);
    background-color: rgb(254, 255, 253);
    border-radius: 50%;
}   
#box2:hover{
    background-color: rgb(126, 14, 231);
    box-shadow: 1px 1px 50px;
}
#box3{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
    background-color: rgb(61, 201, 10);
    border-radius: 50%;
}
#box3:hover{
    background-color: rgb(3, 71, 15);
    box-shadow: 1px 1px 50px;
}
body{
    background-color: rgb(189, 42, 96);}