header{
    margin: 590px;
    margin-bottom: 0px;
    margin-top: 0px;
}
nav{
    display: flex;
    gap: 20px;
    margin: 180px;
    margin-bottom: 50px;
    margin-top: 0px;
}
button{
    display: flex;
    margin: 10px;
    font-weight: bold;
}